/* Réinitialisation */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

/* En-tête */
header {
    display: flex;
    align-items: center;
    gap: 50px; /* Réduction de l'espace */
    padding: 15px 50px;
    background-color: #1c7079;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajout d’une ombre */
}

.logo {
    height: 70px;
}

/* Titre */
h1 {
    color: #333;
    margin: 60px 0;
}

/* Graphique */
.graph-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}
