<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ajout</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/g-brain_ajout.css') }}"
    />
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/logodesign.png') }}">
    <title>Page d'ajout de fichier - G-Brain</title>
  </head>
  <body>
    <!-- Logo -->
    <header>
      <a href="http://127.0.0.1:5000/"
        ><img
          src="{{ url_for('static', filename='images/Logo_complet.png') }}"
          alt="Logo: G-Brain"
          class="logo"
      /></a>
    </header>
    <div class="add_container">
      <form method="POST" action="/connexion" enctype="multipart/form-data">
        <label for="file"></label>
        <input type="file" name="file" accept=".csv" required/>
        <input id="button" type="submit" value="Valider"/>
      </form>
    </div>
  </body>
</html>
