<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/g-brain_recherche.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      charset="utf-8"
    ></script>
    <title>Résultats de recherche - G-Brain</title>
  </head>
  <body>
    <!-- Logo -->
    <header>
      <a href="g-brain_principal.html"
        ><img
          src="{{ url_for('static', filename='images/Logo_complet.png') }}"
          alt="Logo: G-Brain"
          class="logo"
      /></a>
    </header>

    <!-- Barre de recherche -->
    <form method="post" class="search-bar">
      <input
        type="text"
        name="rechercher"
        id="searchInput"
        placeholder="Rechercher un graphe sur G-Brain..."
        required
      />
      <input id="Submit" type="submit" value="🔍" />
    </form>

    <!-- Liste des graphiques -->
    <div class="graphiques">
      {% for elt in search[0]%}
      <a
        href="g-brain_graphe.html?nom=Courbe%20de%20temp%C3%A9rature"
        class="graph-item"
        >{{elt}}</a
      >
      {%endfor%}
    </div>
  </body>
</html>
