<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles/g-brain_principal.css') }}"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
      charset="utf-8"
    ></script>
    <link rel="icon" type="image/png" href="{{ url_for('static',filename='images/logodesign.png') }}">
    <title>G-Brain</title>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <a href="http://127.0.0.1:5000/"
          ><img
            src="{{ url_for('static', filename='images/Logo_complet.png') }}"
            alt="Logo: G-Brain"
            class="logo"
        /></a>
      </div>
    </header>

    <form method="post" class="search-bar">
      <input
        type="text"
        name="rechercher"
        id="searchInput"
        placeholder="Rechercher un graphe sur G-Brain..."
        required
      />
      <input id="Submit" type="submit" value="🔍" />
    </form>
  </body>
</html>
